body {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin: 0;
    padding: 0;
    background-color: #f7f9fc;
    color:#03224c;
    text-align: center;

}

.contact-container {
    max-width: 600px;
    margin: 60px auto;
    padding: 40px;
    background-color: #ffffff;
    border-radius: 12px;
    box-shadow: 0 12px 10px rgba(0, 0, 0, 0.1);
    border: 1px solid #dee1e8;
}
h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-top: 10px;
}
.contact-form {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    text-align: left;
}

.contact-form label {
    margin-bottom: 6px;
    font-weight: bold;
}

.contact-form input,
.contact-form textarea {
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 8px;
    border: 1px solid #ccc;
    font-size: 14px;
}

.contact-form button {
    background-color: #ffcc00;
    color: #03224c;
    padding: 8px 15px;
    border: 1px solid #7d7979;
    border-radius: 8px;
    text-decoration: none;
    font-size: 15px;
    margin-right: 6px;
    vertical-align: middle;
    cursor: pointer;
}

.contact-form button:hover {
    background-color: white;
    color:#03224c;
    border: 1px solid #03224c;
    font-size: large;
    font-weight: bold;
}

.contact-info {
    margin-top: 30px;
    text-align: center;
}

.contact-info a {
    color: #ffcc00;
    text-decoration: none;
}