body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f7f9fc;
}

.contact-container {
    max-width: 600px;
    margin: 60px auto;
    padding: 30px;
    background-color: #ffffff;
    border-radius: 12px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: #111;
}

p {
    text-align: center;
    color: #444;
}

.contact-form {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
}

.contact-form label {
    margin-bottom: 6px;
    color: #333;
    font-weight: bold;
}

.contact-form input,
.contact-form textarea {
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 8px;
    border: 1px solid #ccc;
    font-size: 14px;
}

.contact-form button {
    padding: 12px;
    background-color: #cf621a;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

.contact-form button:hover {
    background-color: #333;
}

.contact-info {
    margin-top: 30px;
    text-align: center;
}

.contact-info a {
    color: #e97c24;
    text-decoration: none;
}