html {
    background-color: #cc731f;
}

body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'Arial', sans-serif;
}

div {
    text-align: center;
}

.logo {
    border: 0.1px solid #f3d6af;
    width: 150px;
    height: auto;
    margin-bottom: 20px;
    border-radius: 50%;
}

h1 {
    font-family: cursive;
    font-size: 40px;
    color: #f0ebe6;
    margin: 10px 0;
}

p {
    font-family: cursive;
    font-size: 18px;
    color: #f7f0e8;
    margin-top: 5px;
}

.bubble-container {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.bubble {
    width: 15px;
    height: 15px;
    background-color: #ffffff;
    border-radius: 50%;
    animation: pulse 1.5s infinite ease-in-out;
}

.bubble.delay1 {
    animation-delay: 0.3s;
}

.bubble.delay2 {
    animation-delay: 0.6s;
}

@keyframes pulse {

    0%,
    100% {
        transform: scale(1);
        opacity: 0.6;
    }

    50% {
        transform: scale(1.8);
        opacity: 1;
    }
}