body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    background-color: rgb(255, 251, 245);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    width: 100%;
    max-width: 400px;
}

.form-box {
    background: #fff;
    padding: 40px 30px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.title {
    text-align: center;
    font-size: 24px;
    margin-bottom: 25px;
    color: #333;
}

label {
    font-size: 14px;
    color: #444;
    display: block;
    margin-top: 15px;
    margin-bottom: 5px;
}

input {
    width: 100%;
    padding: 10px 12px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 6px;
    box-sizing: border-box;
}

button {
    width: 100%;
    padding: 12px;
    margin-top: 25px;
    font-size: 15px;
    background-color: #e9910d;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-weight: bold;
}

button:hover {
    background-color: #f1a414;
}

.signin-link {
    margin-top: 20px;
    font-size: 14px;
    text-align: center;
}

.signin-link a {
    color: #ff9e20;
    text-decoration: none;
}

.signin-link a:hover {
    text-decoration: underline;
}