body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
    background-color: #f7f9fc;
    display: flex;
    justify-content: center;
    align-items: center;
    color:#03224c;
    height: 100vh; 
}

.register-container {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 20px;
}

.register-card {
    width: 300px;
    margin: 60px auto;
    padding: 40px;
    background-color: #ffffff;
    border-radius: 12px;
    box-shadow: 0 12px 10px rgba(0, 0, 0, 0.1);
    border: 1px solid #dee1e8;
}

.register-card h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    font-size: 26px;
    margin-bottom: 30px;
    color: #03224c;
}

.google-button {
    width: 100%;
    padding: 12px;
    margin-top: 25px;
    background-color: #ffcc00;
    color: #03224c;
    padding: 8px 15px;
    border: 1px solid #7d7979;
    border-radius: 8px;
    text-decoration: none;
    font-size: 15px;
    margin-right: 6px;
    vertical-align: middle;
    cursor: pointer;
}

.google-button:hover {
    background-color: white;
    color:#03224c;
    border: 1px solid #03224c;
    font-size: large;
    font-weight: bold;
}

.google-button img {
    width: 20px;
    height: 20px;
}

.divider {
    margin: 20px 0;
    position: relative;
    text-align: center;
    color: #03224c;
    font-size: 13px;
    margin-bottom: 1px;
}

.divider::before,
.divider::after {
    content: "";
    position: absolute;
    top: 50%;
    width: 40%;
    height: 1px;
    background: #03224c;
}

.divider::before {
    left: 0;
}

.divider::after {
    right: 0;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1px;
}
.email-button {
    width: 100%;
    margin-top: 15px;
    background-color: #ffcc00;
    color: #03224c;
    padding: 8px 80px;
    border: 1px solid #7d7979;
    border-radius: 8px;
    text-decoration: none;
    font-size: 15px;
    margin-right: 6px;
    vertical-align: middle;
    cursor: pointer;
    text-align: center;
}
.email-button:hover {
    background-color: white;
    color:#03224c;
    border: 1px solid #03224c;
    font-size: large;
    font-weight: bold;
}
.signin-link {
    margin-top: 20px;
    font-size: 14px;
    text-align: center;
}
.signin-link a {
    color: #ffcc00;
    text-decoration: none;
}
.signin-link a:hover {
    text-decoration: underline;
}